
/*Global*/
.container {
/*no fixed pixels due to responsive req.*/
  width:80%
  margin:auto;
  overflow:hidden;

}

h4 {

  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 36px;
  font-family: 'logotype';
  font-size: 30px;
  text-align: center;
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 1);
  /*display: inline-block;*  (note:  inline block was interfering with */
 /*the text align center functionality/*/
  letter-spacing: 1px;
  color: #d8848b;
  text-align: center;
}


/*button
.btn {
  text-decoration: none;
  margin: 50px;
  padding: 10px 10px;
  display: inline-block;
  /*background: #FEDADC;*/
  font-size: 36px;
  font-family: 'logotype';
  font-size: 30px;
  
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, .50);
  text-transform: uppercase;
  border-radius: 45px;
  border: 1px solid #7F5417;
}

.btn:hover {
  background: #fff;
  box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, .75);
  color: ##f4ccf4;
  text-shadow: none;
}



/*/*hero style*/
#hero {
  background-image: url(../img/CathedralVeil3.jpg);
 /* background-image: url(../img/CathedralVeil4.jpg);*/
  background-size: 100% auto;
  background-size: 100% auto;
  background-attachment: fixed;
  background-position: center center;
  padding: 0px 0px 0px 0px;
  text-align: center;
  /*text-shadow: 0px 2px 10px #000;*/
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/*Header*/
header {
  background:#FEDADC;
  color:#F9F9F9;
  padding-top:10px;
  min-height:70px;
  border-bottom:#D3AC78 3px solid;
}

header a{
  color:#aaaaaa/*#555555*/;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header a{
  color#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font size:16px;
}


header ul{

  margin:0;
  padding:0;
}

header li{
  float:left;
  display:inline;
  padding:0 20px 0 20px;
}


header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav {
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color: #B67721;
  font-weight:bold;
}

header a:hover {
color:#cccccc;
font-weight:bold;

}

p {
 color:#cccccc;
font-weight:bold; 
}

/*Showcase*/

/*#showcase2{
    background-image: url("../img/CathedralVeil4.jpg");
    min-height: 900px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/

#form-wrap{
     /*background-image: url(../img/CathedralVeil3.jpg);*/
 /* background-image: url(../img/CathedralVeil4.jpg);*/
  /*background-size: 100% auto;*/
  /*background-size: 100% auto;*/
  /*background-attachment: fixed;*/
  /*background-position: center center;*/
  /*padding: 0px 0px 0px 0px;*/
  margin:100px 150px 100px 250px;
 /* float: left;/**/
 */ /*text-shadow: 0px 2px 10px #000;*/
  /*height: 40vh;*/
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*align-content: center;*/
}

.labelone{
  margin:100px 100px 100px 100px;
  text-align:left;

}


   /* <section id="boxes">
      <div class="container">
        <div class="box">
          <p><img src="./img/catheralveil1.jpg" style="float:left;width:42px;height:42px;">
The image will float to the left of the text.   </p>
           <h3>Divine</h3>
         </div>
        

<p><img src="smiley.gif" alt="Smiley face" style="float:right;width:42px;height:42px;">
The image will float to the left of the text.</p>


        <div class="box">
          <img src="./img/cathedralveil2.jpg">
          <h3>Exquistite</h3>
          <p></p>
        </div>

          <div class="box">
          <img src="./img/cathedralveil4.jpg">
          <h3>Heavenly</h3>
          <p></p>
        </div>
      </div>
    </section>

*/
